// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
// VARIABLES
// spacing val
@large-space: 7rem;
@medium-space: 4rem;
@normal-space: 2rem;
@small-space: 1rem;

// size values
@base-font-size: 1.6rem;


// FLEXBOX
.flexbox(@flex-dir: row; @justify-cont: flex-start; @align-items: stretch) {
	display: flex;
	flex-direction: @flex-dir;
	justify-content: @justify-cont;
	align-items: @align-items;
}

// Set every element's box-sizing to border-box
* {
    box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

html, body {
  height: 100%;
	margin: 0;
	font-family: sans-serif;
}

body {
	font-size: @base-font-size;
	color: black;

	a {
		text-decoration: none;
		color: black;
	}

	p {
		margin-bottom: @normal-space;
	}

	h1 {
		font-size: 4rem;
		margin-bottom: @normal-space;
	}

	h2 {
		font-size: 2.8rem;
		margin-bottom: @normal-space;
	}

	h3 {
		font-size: 2.2rem;
		margin-bottom: @normal-space;
	}

	button {
		border: none;
		font-size: @base-font-size;
		padding: @small-space @medium-space;
		margin-bottom: @medium-space;
		cursor: pointer;

	}

	.divider {
		height: 1px;
		background-color: black;
		width: 15%;
		margin: @normal-space 0 @medium-space 0;
	}
}

header {
	height: 85px;
	.flexbox(row; center; center);
	nav {
		.flexbox(row; space-between);
		flex-grow: 1;
		max-width: 40%;
	}
}

.content-container {
	max-width: 865px;
	margin: 0 auto;
	.flexbox(column);

	.top-intro-section {
		.flexbox(column; flex-start; center);
		margin-bottom: @large-space;

		figure {
			max-width: 210px;
			max-height: 210px;
			margin-bottom: @normal-space;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
		    object-position: center;
				border-radius: 100%;
			}
		}

		.bio {
			max-width: 65%;
		}
	}

	.statement-skills-section {
		.flexbox(row, space-between);
		margin-bottom: @large-space;

		.statement-container, .skills-container {
			width: calc(50% - 10px);
		}

		.skills-container {

			.skill {
				margin-bottom: @small-space;
			}
			.progress-bar {
				height: @small-space;
				margin-bottom: @medium-space;

				div {
					height: 100%;
					opacity: 0.7;
				}

				.progress-full {
					width: 93%;
				}

				.progress-fullish {
					width: 80%;
				}

				.progress-half {
					width: 50%;
				}

				.progress-quarter {
					width: 23%;
				}

				.progress-eigth {
					width: 11%;
				}
			}
		}
	}

	.experience-section {
		.flexbox(column; flex-start);
		margin-bottom: @large-space;

		h2 {
			text-align: center;
		}

		.jobs-container {
			position: relative;

			.job-row {
				.flexbox(row; space-between);
				margin-bottom: @large-space;
				.job-info, .job-year {
					width: calc(50% - 10px);
				}
				&:nth-child(even) {
					.flexbox(row-reverse; space-between);

					.job-year {
						text-align: right;
					}
				}
				&:nth-last-child(2) {
					margin-bottom: 0;
				}
			}

			.time-line {
				z-index: -1;
				position: absolute;
				left: 50%;
				top: 0;
				transform: translateX(-50%);
				height: 100%;
				width: 2px;
				background-color: black;
			}
		}

	}
}

footer {
	margin-top: 40px;
	text-align: center;
	padding: 40px 0;
}
